// ABOUT SECTION
#about {
   padding: calc(5rem + 3vw) 0;
}

.about-content {
   .about-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;

      img {
         width: 100%;
      }

      p {
         display: flex;
         align-items: center;
      }

      &:first-child {
         margin-bottom: 10rem;
      }
   }
}

@media (max-width: 800px) {
   .about-content {
      .about-block {
         grid-template-columns: 1fr;
         gap: 5rem;
   
         img {
            // width: 100%;
         }
   
         p {
            // display: flex;
            // align-items: center;
            text-align: center;
         }
   
         &:first-child {
            margin-bottom: 1rem;
         }
      }
   }
}