// About Component
#about {
   padding: $section-padding;
}

.about-content {
   .about-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: calc(3rem + 1vw);

      p {
         display: flex;
         align-items: center;
         font-family: $font-secondary;
      }

      &:first-child {
         margin-bottom: calc(7rem + 1.5vw);
      }
   }
}

@media (max-width: 800px) {
   .about-content {
      .about-block {
         grid-template-columns: 1fr;
         gap: 5rem;
   
         p {
            text-align: center;
         }
   
         &:first-child {
            margin-bottom: 1rem;
         }
      }
   }
}