// FEATURES SECTION
#features {
   background: url('./../images/bg-black-1.jpg') no-repeat center center/cover;
   padding: calc(5rem + 3vw) 0;

   .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: calc(2rem + 1vw);
   }
}

.feature {
   color: $white;
   text-align: center;
   line-height: 1.8;

   i {
      font-size: 5rem;
      color: $special-color;
   }

   h4 {
      text-transform: uppercase;
      font-size: $text;
      font-weight: 700;
      margin: calc(2rem + 0.75vw) 0;
   }

   p {
      // font-size: $small-text;
      // font-weight: 300;
   }
}