// Features Component
#features {
   background: url('http://res.cloudinary.com/dg4arvkpw/image/upload/v1602105123/exotica-restaurant/background/bg-black-1_tnxhn1.jpg') no-repeat center center/cover;
   padding: $section-padding;

   .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: calc(5rem + 1vw);
   }
}

.feature {
   color: $text-light;
   text-align: center;
   line-height: 1.8;

   i {
      font-size: 4.5rem;
      color: $contrast-golden;
   }

   h4 {
      text-transform: uppercase;
      font-size: $m-text;
      margin: calc(2rem + 0.75vw) 0;
   }

   p {
      font-family: $font-secondary;
      font-weight: 300;
   }
}

@media (max-width: 800px) {
   #features {
   background: url('https://res.cloudinary.com/dg4arvkpw/image/upload/w_800,h_250/exotica-restaurant/background/bg-black-1_tnxhn1.jpg') no-repeat center center/cover;
      .container {
         grid-template-columns: 1fr;
         gap: 6rem;
      }
   }
}