// FOOTER 
.footer-upper {
   background: darken($text-primary, 10%);
   color: darken($text-secondary, 20%);
   padding: calc(5rem + 1vw) 0;

   .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 2rem;
      // text-align: center;
      // justify-items: center;
   }

   .content-block {
      h4 {
         font-size: $big-text;
         margin-bottom: 2rem;
         font-weight: 400;
      }

      p {
         font-size: $small-text;
         line-height: 1.8;
      }
   }
}

.footer-lower {
   background: darken($text-primary, 20%);
   color: darken($text-secondary, 20%);
   text-align: center;
   padding: 3rem;
}