// Footer Component 
.footer-upper {
   background: darken($text-dark, 10%);
   color: darken($text-light, 20%);
   padding: $section-padding;

   .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: calc(2rem + 1vw);
   }
   
   .content-block {
      background: $text-dark;
      text-align: center;
      padding: 5rem 0;
      position: relative;

      i {
         position: absolute;
         top: 0%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 2rem;
         padding: 1.5rem;
         background: $contrast-red;
         border-radius: 50%;
      }

      h4 {
         font-size: $l-text;
         margin-bottom: 2rem;
         font-weight: 600;
      }

      p {
         font-size: $s-text;
         line-height: 1.8;
      }
   }
}

.footer-lower {
   background: darken($text-dark, 20%);
   color: darken($text-light, 20%);
   text-align: center;
   padding: 4rem;
}

@media (max-width: 800px) {
   .footer-upper {   
      .container {
         grid-template-columns: 1fr;
         gap: 5rem;
      }
   }
}