// Gallery Component
.gallery {
   padding: $section-padding;
}

.gallery-inner {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0.5rem;

   img {
      display: block;
   }
}

@media (max-width:800px) {
   .gallery-inner {
      grid-template-columns: 1fr;

      img:first-child,
      img:nth-child(3),
      img:nth-child(4), 
      img:nth-child(6), 
      img:nth-child(7), 
      img:nth-child(8)
      {
         display: none;
      }
   }
}