// GALLERY SECTION
#gallery {
   padding: calc(5rem + 3vw) 0;
}

.gallery-wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0.5rem;
   // width: 90%;
   max-width: 1920px;
   margin: 0 auto;

   img {
      display: block;
      width: 100%;
   }
}

@media (max-width:800px) {
   .gallery-wrapper {
      grid-template-columns: 1fr;

      img:first-child,
      img:nth-child(3),
      img:nth-child(4), 
      img:nth-child(6), 
      img:nth-child(7), 
      img:last-child 
      {
         display: none;
      }
   }
}