// Header Component
.main-head {
   position: fixed;
   width: 100%;
   padding: 3rem 0;   
   z-index: 100;
   transition: all 0.4s ease-in-out;

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
}

.logo {
   @include animateText((1.4s));
}

.navigation ul {
   display: flex;

   li {
      margin-left: 2rem;
   }
}

.nav-link {
   color: $c-white;
   font-size: $font-s;
   font-weight: 700;
   text-transform: uppercase;
   display: inline-block;
   @include animateText((1.4s));

   &:hover {
      color: $c-red;
   }
}

// Page Scrolled
.main-head.scrolled {
   background: $c-white;
   padding: 1.5rem 0;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);

   // Svg logo
   #logo {
      fill: $c-red;
   }

   .nav-link {
      color: $c-red;

      &:hover {
         color: $c-black-matte;
      }
   }
}

.hamburger {
   display: none;
}

.backdrop {
   background: rgba(#000, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   z-index: 85;
}

@media (max-width: 800px) {
   .hamburger {
      background-color: transparent;
      border: none;
      color: $c-white;
      display: flex;
      mix-blend-mode: difference;
      z-index: 95;
      @include animateText((1.4s));

      &-icon {
         font-size: 2.2rem;
      }
   }

   .navigation {
      background: $c-white;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 50%;
      z-index: 90;
      transform: translateX(100%);
      transition: all 0.4s ease-in-out;

      &.side-drawer {
         transform: translateX(0);
      }

      ul {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         height: 100%;

         li {
            margin: 2rem 0;
         }
      }
   }

   .nav-link {
      animation: none;
      color: $c-red;
      opacity: 1;

      &:hover {
         color: $c-black-matte;
      }
   }
}

// Z-index priority : Header -> Hamburger -> Navigation -> Backdrop 