// HEADER SECTION
.navbar {
   position: fixed;
   width: 100%;
   padding: calc(2rem + 1vw);   
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;

   .nav-links {
      display: flex;

      a {
         color: $text-secondary;
         margin-left: 2.5rem;
         font-weight: 500;
         text-transform: uppercase;

         &:hover {
            color: $red;
         }
      }
   }

   .hamburger {
      display: none;
   }
}

@media (max-width: 800px) {
   .navbar {
      .hamburger {
         display: block;
         color: $text-secondary;
         cursor: pointer;
      }

      .nav-links {
         background: $text-primary;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         position: fixed;
         top: 0;
         left: 0;
         height: 100vh;
         width: 100vw;
         padding: 15vh 0;
         z-index: -100;
         // pointer-events: none;
         // opacity: 0;
         clip-path: circle(10px at 110% -10%);
         -webkit-clip-path: circle(10px at 110% -10%);
         transition: all 0.5s ease-out;
      }

      .nav-links.active {
         // pointer-events: auto;
         // opacity: 1;
         clip-path: circle(1500px at 110% -10%);
         -webkit-clip-path: circle(1500px at 110% -10%);
      }
   }
}