#menu {
   padding: calc(5rem + 3vw) 0;
   background: url('./../images/bg-red.webp') no-repeat center center/cover;
}

// MENU NAV
.menu-nav {
   padding: 1.2rem 0;

   a {
      color: $text-secondary;
      padding: 1.2rem 2rem;
      margin-right: 0.5rem;
      border-radius: 2px;
      background: darken($contrast-primary, 10%);
      text-transform: uppercase;
      font-size: $small-text;
   }

   .is-active {
      background: $text-secondary;
      color: $contrast-primary;
   }
}

// MENU CATEGORY
.menu-items {
   background: $text-secondary;
   padding: 5rem;
   border-radius: 2px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 5rem;
   // min-height: 50rem;

   .item {
      // padding: 2rem;

      &-title {
         display: flex;
         justify-content: space-between;
         font-weight: 700;
         text-transform: uppercase;
         font-size: $small-text;
      }

      &-price {
         color: $contrast-primary;
      }

      &-description {
         font-size: $small-text;
         font-style: italic;
         padding-right: 10rem;
      }
   }
}