// Menu Component
.menu {
   padding: $section-padding;
   background: $contrast-red;
}

// MenuNav Component
.menu-nav {
   a {
      background: darken($contrast-red, 10%);
      border-radius: 2px;
      color: $text-light;
      display: inline-block;
      font-size: $s-text;
      text-transform: uppercase;
      padding: 1.2rem 2rem;
      margin: 0 0.5rem 0.5rem 0;

      &:last-child {
         margin-right: 0;
      }
   }

   .is-active {
      background: $text-light;
      color: $contrast-red;
   }
}

// MenuItems Component
.menu-items {
   background: $text-light;
   border-radius: 2px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 5rem;
   padding: 5rem clamp(2.5rem, calc(2rem + 2vw) , 5rem);
}

.item {
   &-title {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      text-transform: uppercase;
   }

   &-price {
      color: $contrast-red;
   }

   &-description {
      color: lighten($text-dark, 25%);
      font-size: $s-text;
      padding-right: calc(5rem + 1.5vw);
   }
}

@media (max-width: 800px) {
   .menu-nav {
      display: flex;
      flex-wrap: wrap;
   }

   .menu-items {
      grid-template-columns: 1fr;
      gap: 4rem;
   }
}