// Reservation Component
.reservation {
   background: $text-dark;
   padding: $section-padding;
}

.form {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 4rem;
   
   textarea {
      background: rgba(darken($text-dark, 20%), 0.4);
      border: 1px solid darken($text-light, 65%);
      color: $text-light;
      font-family: $font-primary;
      font-size: $s-text;
      grid-column: 1 / -1;
      padding: 1.5rem;
      margin-bottom: 5rem;
      resize: none;

      &:focus {
         outline: none;
      }

      &::placeholder {
         color: darken($text-light, 30%);
      }
   }

   .btn-wrapper {
      grid-column: 1 / -1;
      text-align: center;
   }
}

.form-group {
   input {
      background: rgba(darken($text-dark, 20%), 0.4);
      border: 1px solid darken($text-light, 65%);
      color: $text-light;
      display: block;
      font-family: $font-primary;
      font-size: $s-text;
      margin-bottom: 3rem;
      padding: 1.5rem;
      width: 100%;

      &::placeholder {
         color: darken($text-light, 30%);
      }

      &:focus {
         outline: none;
      }

      &:last-child {
         margin-bottom: 0;
      }
   }

   /* Chrome, Safari, Edge, Opera */
   input[type="number"]::-webkit-outer-spin-button,
   input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }

   /* Firefox */
   input[type="number"] {
      -moz-appearance: textfield;
   }
}

@media (max-width: 800px) {
   .form {
      grid-template-columns: 1fr;

      textarea {
         margin-bottom: 3rem;
      }
   }
}