// RESERVATION SECTION
#reservation {
   padding: calc(5rem + 3vw) 0;
   background: url('./../images/bg-black-2.webp') no-repeat center center/cover;
}

form {
   text-align: center;
}

.form-inner {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 4rem;
   // padding: 0 5rem;

   .form-group {
      input {
         display: block;
         width: 100%;
         margin-bottom: 2.5rem;
         padding: 1.5rem;
         background: rgba(0, 0, 0, .33);
         border: 1px solid #505050;
         font-family: 'Montserrat', sans-serif;
         font-size: $small-text;
         color: $white;
      }

      input:focus {
         outline: none;
      }

      input::placeholder {
         color: darken($white, 30%);
      }

      /* Chrome, Safari, Edge, Opera */
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      /* Firefox */
      input[type="number"] {
         -moz-appearance: textfield;
      }
   }

   textarea {
      grid-column: 1 / -1;
      padding: 1.5rem;
      background: rgba(0, 0, 0, .33);
      border: 1px solid #505050;
      font-family: 'Montserrat', sans-serif;
      font-size: $small-text;
      color: $white;
      resize: none;
      margin-bottom: 5rem;
   }

   textarea:focus {
      outline: none;
   }

   textarea::placeholder {
      color: darken($white, 30%);
   }
}