// SHOWCASE SECTION
.showcase {
   height: 100vh;
   background: url('./../images/showcase.jpg') no-repeat center center/cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: $text-secondary;
   padding: 0 2rem;

   p {
      font-size: $big-text;
      font-weight: 300;
      margin: 2rem 0 3rem 0;
   }
}