// HERO SECTION
.hero {
   height: 100vh;
   background: url('./../img/landing.jpg') no-repeat center center/cover;
}

.navbar {
   position: fixed;
   width: 100%;
   padding: calc(2rem + 1vw);   
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul {
   display: flex;

   a {
      color: white;
      margin-left: 2rem;
      font-weight: 500;

      &:hover {
         color: $red;
      }
   }
}

.hero-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   align-items: center;
   text-align: center;
   color: white;
   padding: 0 2rem;

   h1 {
      margin-bottom: 2rem;
   }

   p {
      font-family: 'Montserrat', sans-serif;
      font-size: $big-text;
      font-weight: 300;
   }

   a {
      margin-top: 3rem;
   }
}

// ABOUT SECTION
#about {
   padding: calc(5rem + 3vw) 0;
}

.about-head {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: calc(5rem + 1.5vw);

   h4 {
      font-size: $text;
      font-weight: 400;
      margin-bottom: 1rem;
   }

   h3:after {
      content: "";
      display: block;
      height: 4px;
      width: 55px;
      background: $red;
      margin: 0 auto;
      margin-top: 25px;
   }
}

.about-text {
   display: flex;
   justify-content: space-between;
   
   p {
      flex-basis: 45%;
   }
}

// FEATURES SECTION
#features {
   background: url('./../img/bg-black-1.jpg') no-repeat center center/cover;
   padding: calc(5rem + 3vw) 0;

   .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: calc(2rem + 1vw);
   }
}

.feature {
   color: $white;
   text-align: center;
   line-height: 1.8;

   i {
      font-size: 5rem;
      color: $special-color;
   }

   h4 {
      text-transform: uppercase;
      font-size: $text;
      font-weight: 700;
      margin: calc(2rem + 0.75vw) 0;
   }

   p {
      font-size: $small-text;
      font-weight: 300;
   }
}

// MENU SECTION
#menu {
   padding: calc(5rem + 3vw) 0;
   background: url('./../img/bg-red.webp') no-repeat center center/cover;
}

.menu-head {
   color: $white;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: calc(5rem + 1.5vw);

   h4 {
      font-size: $text;
      font-weight: 400;
      margin-bottom: 1rem;
   }

   h3:after {
      content: "";
      display: block;
      height: 4px;
      width: 55px;
      background: $white;
      margin: 0 auto;
      margin-top: 25px;
   }
}

.tabs-wrapper ul {
   display: flex;

   li {
      color: $white;
      padding: 1.2rem 2rem;
      margin-right: 0.5rem;
      border-radius: 2px;
      background: #cf1c22;
      text-transform: uppercase;
      font-size: $small-text;
      cursor: pointer;
   }
}

.menu-list-wrapper {
   background: $white;
}

.menu-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 6rem 5rem;

   .column-1,
   .column-2 {
      flex-basis: 45%;
   }

   .menu-item {
      margin-bottom: 4rem;

      li:first-child {
         font-weight: 700;
         text-transform: uppercase;
         font-size: $small-text;
         display: flex;
         justify-content: space-between;
      }

      li:nth-child(2) {
         font-size: $small-text;
         font-style: italic;
      }

      span {
         color: $red;
      }
   }

   .menu-item:last-child {
      margin-bottom: 0;
   }
}

// GALLERY SECTION
#gallery {
   padding: calc(5rem + 3vw) 0;
}

.gallery-head {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: calc(5rem + 1.5vw);

   h4 {
      font-size: $text;
      font-weight: 400;
      margin-bottom: 1rem;
   }

   h3:after {
      content: "";
      display: block;
      height: 4px;
      width: 55px;
      background: $red;
      margin: 0 auto;
      margin-top: 25px;
   }
}

.gallery-wrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0.5rem;
   // width: 90%;
   max-width: 1920px;
   margin: 0 auto;

   img {
      display: block;
      width: 100%;
   }
}

// RESERVATION SECTION
#reservation {
   padding: calc(5rem + 3vw) 0;
   background: url('./../img/bg-black-2.webp') no-repeat center center/cover;
}

.reservation-head {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: calc(5rem + 1.5vw);
   color: darken($white, 10%);

   h4 {
      font-size: $text;
      font-weight: 400;
      margin-bottom: 1rem;
   }

   h3:after {
      content: "";
      display: block;
      height: 4px;
      width: 55px;
      background: darken($white, 10%);
      margin: 0 auto;
      margin-top: 25px;
   }
}

form {
   text-align: center;
}

.form-inner {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 4rem;
   // padding: 0 5rem;

   .form-group {
      input {
         display: block;
         width: 100%;
         margin-bottom: 2.5rem;
         padding: 1.5rem;
         background: rgba(0, 0, 0, .33);
         border: 1px solid #505050;
         font-family: 'Montserrat', sans-serif;
         font-size: $small-text;
         color: $white;
      }

      input:focus {
         outline: none;
      }

      input::placeholder {
         color: darken($white, 30%);
      }

      /* Chrome, Safari, Edge, Opera */
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
      }

      /* Firefox */
      input[type="number"] {
         -moz-appearance: textfield;
      }
   }

   textarea {
      grid-column: 1 / -1;
      padding: 1.5rem;
      background: rgba(0, 0, 0, .33);
      border: 1px solid #505050;
      font-family: 'Montserrat', sans-serif;
      font-size: $small-text;
      color: $white;
      resize: none;
      margin-bottom: 5rem;
   }

   textarea:focus {
      outline: none;
   }

   textarea::placeholder {
      color: darken($white, 30%);
   }
}

// FOOTER 
.footer-upper {
   background: #141414;
   color: darken($white, 20%);
   padding: calc(5rem + 1vw) 0;

   .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      text-align: center;
      // justify-items: center;
   }

   .upper-block {
      h4 {
         font-size: $big-text;
         margin-bottom: 2rem;
         font-weight: 400;
      }

      p {
         font-size: $small-text;
         line-height: 1.8;
      }
   }
}

.footer-lower {
   background: #000;
   color: darken($white, 20%);
   text-align: center;
   padding: 3rem;
}