// HERO SECTION
.hero {
   height: 100vh;
   background: url('./../img/landing.jpg') no-repeat center center/cover;
}

.navbar {
   position: fixed;
   width: 100%;
   padding: calc(2rem + 1vw);   
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav ul {
   display: flex;

   a {
      color: white;
      margin-left: 2rem;

      &:hover {
         color: red;
      }
   }
}

.hero-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   align-items: center;
   text-align: center;
   color: white;
   padding: 0 2rem;

   h1 {
      margin-bottom: 2rem;
   }

   p {
      font-family: 'Montserrat', sans-serif;
      font-size: $big-text;
      font-weight: 300;
   }

   a {
      margin-top: 3rem;
   }
}

// ABOUT SECTION
.about-lead {
   padding: calc(5rem + 3vw) 0;

   .about-head {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: calc(5rem + 1.5vw);
   
      h4 {
         font-size: $text;
         font-weight: 400;
         margin-bottom: 1rem;
      }
   
      h3:after {
         content: "";
         display: block;
         height: 4px;
         width: 55px;
         background: $special-color;
         margin: 0 auto;
         margin-top: 25px;
      }
   }

   .about-text {
      display: flex;
      justify-content: space-between;
      
      p {
         flex-basis: 45%;
      }
   }
}

// FEATURES SECTION
#features {
   background: url('./../img/bg-black1.jpg') no-repeat center center/cover;
   padding: calc(5rem + 3vw) 0;

   .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: calc(2rem + 1vw);
   }
}

.feature {
   color: $white;
   text-align: center;
   line-height: 1.8;

   i {
      font-size: 5rem;
      color: $special-color;
   }

   h4 {
      text-transform: uppercase;
      font-size: $text;
      font-weight: 700;
      margin: calc(2rem + 0.75vw) 0;
   }

   p {
      font-size: $small-text;
      font-weight: 300;
   }
}

// MENU SECTION
#menu {
   padding: calc(5rem + 3vw) 0;
   background: url('./../img/bg-red.webp') no-repeat center center/cover;
}

.menu-head {
   color: $white;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: calc(5rem + 1.5vw);

   h4 {
      font-size: $text;
      font-weight: 400;
      margin-bottom: 1rem;
   }

   h3:after {
      content: "";
      display: block;
      height: 4px;
      width: 55px;
      background: $white;
      margin: 0 auto;
      margin-top: 25px;
   }
}

.tabs-container ul {
   display: flex;

   li {
      color: $white;
      padding: 1.2rem 2rem;
      margin-right: 0.5rem;
      border-radius: 2px;
      background: #cf1c22;
      text-transform: uppercase;
      font-size: $small-text;
      cursor: pointer;
   }
}

.menu-list-container {
   background: $white;
}

.menu-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 6rem 5rem;

   .column-1,
   .column-2 {
      flex-basis: 45%;
   }

   .menu-item {
      margin-bottom: 4rem;

      li:first-child {
         font-weight: 700;
         text-transform: uppercase;
         font-size: $small-text;
         display: flex;
         justify-content: space-between;
      }

      li:nth-child(2) {
         font-size: $small-text;
         font-style: italic;
      }

      span {
         color: #e7272d;
      }
   }

   .menu-item:last-child {
      margin-bottom: 0;
   }
}

