// TABLETS
@media (max-width: 800px) {
   // ABOUT
   .about-text {
      flex-direction: column;
      text-align: center;
      
      p:first-child {
         margin-bottom: 3rem;
      }
   }

   .features {
      .container {
         grid-template-columns: 1fr;
      }
   }
}

// SMARTPHONES
@media (max-width: 500px) {

}