// TABLETS
@media (max-width: 800px) {
   // NAVIGATION
   .navbar {
      .hamburger {
         display: block;
         color: $white;
         cursor: pointer;
      }

      .nav-links {
         position: fixed;
         top: 0;
         left: 0;
         background: $text-primary;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
         padding: 15vh 0;
         height: 100vh;
         width: 100vw;
         z-index: -10;
         pointer-events: none;
         opacity: 0;
         clip-path: circle(100px at 90% -10%);
         -webkit-clip-path: circle(100px at 90% -10%);
         transition: all 0.5s ease-out;
      }

      .nav-links.active {
         pointer-events: auto;
         opacity: 1;
         clip-path: circle(1000px at 90% -10%);
         -webkit-clip-path: circle(1000px at 90% -10%);
      }
   }

   // ABOUT
   .about-content {
      .about-block {
         grid-template-columns: 1fr;
         gap: 5rem;
   
         img {
            // width: 100%;
         }
   
         p {
            // display: flex;
            // align-items: center;
            text-align: center;
         }
   
         &:first-child {
            margin-bottom: 1rem;
         }
      }
   }

   // FEATURES SECTION
   #features {
      .container {
         grid-template-columns: 1fr;
      }
   }

   // MENU
   .menu-wrapper {
      min-height: 65rem;

      & > div {
         flex-direction: column;
         align-items: stretch;
         justify-content: center;
         padding: 0 2rem;
      }
   }

   // GALLERY SECTION
   .gallery-wrapper {
      grid-template-columns: 1fr;

      img:first-child,
      img:nth-child(3),
      img:nth-child(4), 
      img:nth-child(6), 
      img:nth-child(7), 
      img:last-child 
      {
         display: none;
      }
   }
}

// SMARTPHONES
@media (max-width: 500px) {

}