// UTILITY CLASSES
.container {
   width: 90%;
   max-width: 1440px;
   margin: 0 auto;
}

// Buttons
%btn-common {
   cursor: pointer;
   transition: all 0.4s ease;
   padding: 1.2rem 2rem;
   border-radius: 1px;
}

.btn {
   &-hero {
      @extend %btn-common;
      background: $white;
      border: 1px solid $white;

      &:hover {
         background: transparent;
         color: $white;
      }
   }

   &-reserve {
      @extend %btn-common;
      background: rgba(0, 0, 0, .33);
      border: 1px solid #505050;
      color: darken($white, 20%);

      &:hover {
         background: $white;
         border: 1px solid #505050;
         color: $text-primary;
      }
   }
}

// MIXINS

// @mixin flex($justify, $align, $direction) {
//    display: flex;
//    justify-content: $justify;
//    align-items: $align;
//    flex-direction: $direction;
// }

// Hearder Properties
@mixin header($f-family, $f-weight, $l-spacing) {
   font-family: $f-family;
   font-weight: $f-weight;
   letter-spacing: $l-spacing;
}