// About Component
.about {
   padding: $padding-section;
}

.about-block {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: calc(3rem + 1vw);

   p {
      display: flex;
      align-items: center;
   }

   &:first-child {
      margin-bottom: calc(5rem + 3vw);
   }
}

@media (max-width: 800px) {
   .about-block {
      grid-template-columns: 1fr;
      gap: 5rem;

      p {
         text-align: center;
      }

      &:first-child {
         margin-bottom: 1rem;
      }
   }
}
