// Gallery Component
.gallery {
   padding: $padding-section;
}

.gallery-inner {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 0.5rem;

   img {
      display: block;
      height: 100%;
      object-fit: cover;
   }
}

@media (max-width: 800px) {
   .gallery-inner {
      grid-template-columns: 1fr;

      .gallery-img:first-child,
      .gallery-img:nth-child(3),
      .gallery-img:nth-child(4),
      .gallery-img:nth-child(6),
      .gallery-img:nth-child(7),
      .gallery-img:nth-child(8) {
         display: none;
      }
   }
}
