// Menu Component
.menu {
   padding: $section-padding;
   background: $c-red;
}

// MenuNav Component
.menu-nav {
   button {
      background: darken($c-red, 10%);
      border: none;
      border-radius: 2px;
      color: $c-white;
      // display: inline-block;
      font-size: $font-s;
      text-transform: uppercase;
      padding: 1.2rem 2rem;
      margin: 0 0.5rem 0.5rem 0;

      &:focus {
         outline: none;
      }

      &:last-child {
         margin-right: 0;
      }

      &.active {
         background: $c-white;
         color: $c-red;
      }
   }
}

// MenuItems Component
.menu-items {
   background: $c-white;
   border-radius: 2px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 5rem;
   padding: 5rem clamp(2.5rem, calc(2rem + 2vw) , 5rem);
}

.item {
   &-title {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      text-transform: uppercase;
   }

   &-price {
      color: $c-red;
   }

   &-description {
      color: lighten($c-black, 25%);
      font-size: $font-s;
      padding-right: calc(5rem + 1.5vw);
   }
}

@media (max-width: 800px) {
   .menu-nav {
      display: flex;
      flex-wrap: wrap;
   }

   .menu-items {
      grid-template-columns: 1fr;
      gap: 4rem;
   }
}