// --- VARIABLES --- 

// Header(Tag) sizes
$header1: calc(3rem + 2vw);
$header2: calc(2rem + 1vw);
$header3: calc(1.5rem + 1vw);
$header4: calc(1rem + 1vw);

// Text Sizes
$big-text: calc(1.2rem + 0.75vw);
$text: calc(1rem + 0.5vw);
$small-text: calc(0.8rem + 0.5vw);

// Colors
$text-primary: #333;
$text-secondary: #fff;
$contrast-primary: #e7272d;
$contrast-secondary: #af9972;
