// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Header(Tag) sizes
$header1: calc(3rem + 1.5vw);
$header2: calc(2rem + 1vw);
$header3: calc(1.5rem + 1vw);
$header4: calc(1rem + 0.75vw);

// Text Sizes
$l-text: calc(1.2rem + 0.75vw);
$m-text: calc(1rem + 0.5vw);
$s-text: calc(0.8rem + 0.5vw);

// Colors
$text-dark: #333;
$text-light: #fff;
$contrast-red: #e7272d;
$contrast-golden: #af9972;

// Section padding
$section-padding: calc(5rem + 3vw) 0;
