// Utility Classes and Mixins
.container {
   width: 90%;
   max-width: 1280px;
   margin: 0 auto;
}

// Buttons
%btn-common {
   border-radius: 1px;
   cursor: pointer;
   transition: all 0.4s ease;
}

.btn {
   &-light {
      @extend %btn-common;
      background: $c-white;
      border: 1px solid $c-white;
      padding: 12px 20px;
      
      &:hover {
         background: transparent;
         color: $c-white;
      }
   }

   &-reserve {
      @extend %btn-common;
      background: rgba(darken($c-black, 20%), 0.4);
      border: 1px solid darken($c-white, 65%);
      color: darken($c-white, 20%);
      padding: 15px 25px;

      &:hover {
         background: $c-white;
         color: $c-black;
      }
   }
}

// Section headers
%head-common {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: clamp(6rem, calc(5rem + 3vw), 10rem);
   letter-spacing: 1px;

   h2 {
      font-weight: 400;

      &::after {
         content: "";
         display: block;
         height: 4px;
         width: 55px;
         margin: 0 auto;
         margin-top: 25px;
      }
   }

   h3 {
      font-weight: 400;
   }
}

.head {
   &-white {
      @extend %head-common;
      color: $c-white;

      h2:after {
         background: $c-white;
      }
   }

   &-red {
      @extend %head-common;
      color: $c-red;

      h2:after {
         background: $c-red;
      }
   }

   &-black {
      @extend %head-common;
      color: $c-black;

      h2:after {
         background: $c-black;
      }
   }
}

// Section fade-in animation
.section-fade-in {
   opacity: 0;
}

@keyframes sectionFadeIn {
   from {
      transform: translateY(200px);
   }

   to {
      opacity: 1;
      transform: translateY(0px);
   }
}

//  Text fade-in animation
@keyframes textFadeIn {
   from {
      transform: translateY(20px);
   }

   to {
      opacity: 1;
      transform: translateY(0px);
   }
}

@mixin animateText ($delay) {
   opacity: 0;
   animation: textFadeIn 0.5s ease-in-out forwards $delay;
}