// Utility Classes and Mixins

// Containers
.container {
   width: 90%;
   max-width: 1280px;
   margin: 0 auto;
}

.container-hd {
   max-width: 1920px;
   margin: 0 auto;
}

// Buttons
%btn-common {
   border-radius: 1px;
   cursor: pointer;
   transition: all 0.4s ease;
}

.btn {
   &-light {
      @extend %btn-common;
      background: $text-light;
      border: 1px solid $text-light;
      padding: 12px 20px;
      
      &:hover {
         background: transparent;
         color: $text-light;
      }
   }

   &-reserve {
      @extend %btn-common;
      background: rgba(darken($text-dark, 20%), 0.4);
      border: 1px solid darken($text-light, 65%);
      color: darken($text-light, 20%);
      padding: 1.5rem 2.5rem;

      &:hover {
         background: $text-light;
         color: $text-dark;
      }
   }
}

// Section Headers
%head-common {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: calc(6rem + 1.5vw);
   letter-spacing: 1px;

   h4 {
      font-weight: 400;
   }

   h2:after {
      content: "";
      display: block;
      height: 4px;
      width: 55px;
      margin: 0 auto;
      margin-top: 25px;
   }
}

.head {
   &-red {
      @extend %head-common;
      color: $contrast-red;

      h2:after {
         background: $contrast-red;
      }
   }

   &-white {
      @extend %head-common;
      color: darken($text-light, 5%);

      h2:after {
         background: darken($text-light, 5%);
      }
   }
}

// Hearder Properties
@mixin header($f-size, $f-weight) {
   font-size: $f-size;
   font-weight: $f-weight;
}
