// Utility Classes and Mixins

// Containers
.container {
   width: 90%;
   max-width: 1440px;
   margin: 0 auto;
}

.container-hd {
   max-width: 1920px;
   margin: 0 auto;
}

// Buttons
%btn-common {
   cursor: pointer;
   transition: all 0.4s ease;
   padding: 1.5rem 2rem;
   border-radius: 1px;
}

.btn {
   &-light {
      @extend %btn-common;
      background: $text-light;
      border: 1px solid $text-light;

      &:hover {
         background: transparent;
         color: $text-light;
      }
   }

   &-reserve {
      @extend %btn-common;
      background: rgba(darken($text-dark, 20%), 0.4);
      border: 1px solid darken($text-light, 65%);
      color: darken($text-light, 20%);

      &:hover {
         background: $text-light;
         color: $text-dark;
      }
   }
}

// Section Headers
%head-common {
   text-transform: uppercase;
   text-align: center;
   margin-bottom: calc(6rem + 1.5vw);

   h4 {
      font-weight: 400;
   }

   h2:after {
      content: "";
      display: block;
      height: 3px;
      width: 55px;
      margin: 0 auto;
      margin-top: 25px;
   }
}

.head {
   &-dark {
      @extend %head-common;

      h2:after {
         background: $contrast-red;
      }
   }

   &-light {
      @extend %head-common;
      color: $text-light;

      h2:after {
         background: $text-light;
      }
   }

   &-reserve {
      @extend %head-common;
      color: darken($text-light, 10%);

      h2:after {
         background: darken($text-light, 10%);
      }
   }
}

// Hearder Properties
@mixin header($f-size, $f-weight, $l-spacing) {
   font-size: $f-size;
   font-weight: $f-weight;
   letter-spacing: $l-spacing;
}
